<nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li>
          <%= link_to t('views.menu.home'), root_path %>
        </li>
        <li>
          <%= link_to t('views.menu.all_jobs'), jobs_path %>
        </li>
        <li>
          <%= link_to t('views.menu.all_users'), users_path %>
        </li>
        <li>
          <%= link_to t('views.menu.my_jobs'), user_path(current_user) unless current_user.nil? %>
        </li>
        <li>
          <%= link_to t('views.menu.create_job'), new_job_path %>
        </li>
        <li>
          <%= link_to t('views.menu.sign_out'), destroy_user_session_path, method: :delete, :class => 'blue-grey-text' %>
        </li>
        <li>
          <%=link_to 'En', locale: 'en' %>
        </li>
        <li>
          |
        </li>
        <li>
          <%=link_to 'Fr', locale: 'fr' %>
        </li>
      </ul>
    </div>
</nav>

