<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'materialize.min' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'materialize.min' %>

  </head>

  <body>

    <%= render partial: 'shared/menu' %>
    <div class="container">
      <div class="row">
        <div class="col s12">

        <%= yield %>

        </div>
      </div>
    </div>

  </body>
</html>
